* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
<<<<<<< Updated upstream
    color: #fff;
=======
    color: rgb(255, 255, 255);
    background-color: black;
>>>>>>> Stashed changes
}

header {
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
<<<<<<< Updated upstream
    display: flex;
=======
}

.container-nav {
    width: 100%;
    height: auto;
    padding-top: 32px;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto 100px 80px;
    align-items: center;
>>>>>>> Stashed changes
}

header h1 {
    font-size: 28px;
    font-weight: normal;
<<<<<<< Updated upstream
}
=======
    margin-left: 39px;
}

header input[type="search"] {
    width: 362px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    padding-left: 56px;
}

header input[type="search"]:focus {
    outline: none;
}

header input[type="submit"] {
    width: 68px;
    height: 19px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

header hr {
    width: 1360px;
    margin: 18px auto 0 auto;
    border: none;
    border-top: 1px solid #ffffff;
}

.icono-profile {
    width: 40px;
    height: 40px;
    background-image: url(img/2015-06-10\ 17.01.56-smaller-sqare.svg);
    border-radius: 50%;
}


/*-------------- Menu ------------*/

nav {
    margin: 33px 0 0 40px;
    width: 200px;
}

nav ul li ul {
    margin-left: 20px;
}


/******* Lista y sublista *******/

nav ul li,
nav ul li ul li {
    list-style: none;
}

nav ul li a,
nav ul li ul li a {
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 22px;
}

nav ul li:nth-child(2),
nav ul li ul li:nth-child(2) {
    padding: 11px 0;
}


/******* Lista individual *******/

nav ul li ul li a {
    font-weight: 400;
    padding-left: 13px;
}

nav ul li:nth-child(1) {
    margin-top: 33px;
}

nav ul li:nth-child(3) {
    margin-bottom: 33px;
}

nav ul li:nth-child(4) {
    margin: 33px 0;
}

nav ul li ul li:nth-child(1) {
    list-style-image: url(img/star-icon.svg);
}

nav ul li ul li:nth-child(2) {
    list-style-image: url(img/calendar-icon.svg);
}

nav ul li ul li:nth-child(3) {
    list-style-image: url(img/flag-icon.svg);
}

nav ul li .lista-anidada-2 li:nth-child(1) {
    list-style-image: url(img/Shape.svg);
}

nav ul li .lista-anidada-2 li:nth-child(2) {
    list-style-image: url(img/cup-icon.svg);
}

.contendor-nav-main {
    position: relative;
}

.contendor-nav-main main {
    width: 1137px;
    height: auto;
    position: absolute;
    left: 18%;
    top: 0%;
}


/*-------------- Title header ------------*/

.title-header {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
    align-items: baseline;
    justify-content: space-between;
}

.title-header h1 {
    font-size: 55px;
}

.vista-boton {
    display: flex;
    gap: 24px;
}

#input-vista-1,
#input-vista-2 {
    display: none;
}


/*
#input-vista-1:checked+label {
    border: 4px solid yellow;
}

#input-vista-2:checked+label {
    border: 4px solid blue;
}*/

label {
    cursor: pointer;
}


/*-------------- CARDS - VISTA 1------------*/

main .game-cards {
    display: grid;
    grid-template-columns: repeat(3, 363px);
    grid-gap: 24px;
    grid-auto-rows: 314px;
    justify-items: center;
}

.game-cards div {
    background-color: #303030;
    border-radius: 10px;
}

.game-cards div figure img {
    border-radius: 10px 10px 0 0;
}

.game-card-1-information {
    margin: 0 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.vista-juegos-2 {
    visibility: hidden;
}

.prueba {
    margin: 10px 20px 0 20px;
}


/*-------------- CARD - VISTA 2------------*/

.vista-general-juego-1 {
    width: 696px;
    height: 538px;
}

.descripcion-de-juego {
    width: 617px;
    margin: 20px 0 31px 0;
    margin-left: 39px;
}

.plataformas-disponibles {
    width: 60px;
    height: 13px;
}

.icono-comprar {
    width: 47px;
    height: 24px;
}

.descripcion-de-juego .description {
    width: 583px;
    font-size: 14px;
    font-weight: 400;
}

.header-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-information h3 {
    font-size: 23px;
    font-weight: 800;
}

.body-information {
    display: flex;
    margin: 21px 0;
}

.body-information div:nth-child(1),
.body-information div:nth-child(2) {
    border-bottom: 1px solid #3D3D3D;
    width: 155px;
    color: #ffffff;
    margin-right: 40px;
}

.body-information div:nth-child(1) p:nth-child(1),
.body-information div:nth-child(2) p:nth-child(1) {
    color: #939393;
}

.body-information p,
.body-information-1 p {
    display: inline-block;
    font-weight: 300;
    font-size: 12px;
}

.body-information p:nth-child(3) {
    color: #2BB34F;
    font-size: 16px;
    font-weight: 800;
}

.icono-comprar {
    margin-left: 160px;
}


/*
#search-wrapper {
    width: 350px;
}

#search-wrapper #search {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 25px 25px 0;
    color: #444;
    padding: .6rem .5rem;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: lighter;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 100%;
}

#search-wrapper #search+figure {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    color: #777;
    padding: .67rem .65rem;
    transition: border-color .2s ease;
}

#search-wrapper #search:focus {
    border-color: #999;
    outline: none;
}

#search-wrapper #search:focus+figure {
    border-color: #999;
}*/
>>>>>>> Stashed changes
